<h1>Searches#create</h1>


<% @selected_landmarks.each do |photo| %>
  <div>
    <%= check_box_tag "photos[]", photo %>
    <%= image_tag photo.url  %>
  <% end %>
<p>  <%= submit_tag "Submit" %> </p>
