<h1>Searches#index</h1>
<p>Find me in app/views/searches/index.html.erb</p>

<%= form_tag nil, method: :get do %>
  <%= text_field_tag :city, params[:city], id: "search-bar", class: "controls", placeholder: "Search Box" %>
<% end %>

<iframe
width="700"
height="600"
frameborder="0" style="border:0"
src=https://www.google.com/maps/embed/v1/search?key=<%= ENV['GOOGLE_KEY'] %>&q=point_of_interest+in<%= params[:city].split.join("+") %>>
</iframe>
