<h1>Searches#index</h1>
<p>Find me in app/views/searches/index.html.erb</p>

<iframe
width="450"
height="250"
frameborder="0" style="border:0"
src=https://www.google.com/maps/embed/v1/search?key=#{ENV['GOOGLE_KEY']}
q=record+stores+in+Seattle>
</iframe>
